body {
  font-family: Arial, sans-serif;
  background: #f0f4f8;
  margin: 0;
  padding: 20px;
}

h1 {
  width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #2e6ba8;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px;
}

p {
  text-shadow: #072444;
  color: rgb(34, 0, 0);
}
